.container {
    padding: 30px;
}

h1 {
    margin-top: 0px;
}

a.enlace-eliminar{
    margin-left: 10px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;;
}
.tachado{
    text-decoration: underline;
    color: gold;
    font-size: 50px;
    font-weight: bold;

}

