<div class="container">
	<head>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</head>
	<body>

		<h1>Prueba técnica - Estudio Faser</h1>
		<h2>Listado de tareas</h2>
	<hr>
	<br>
	
	<h3>Ingrese la Tarea: </h3>
	<br>
	<input class="form-control" placeholder="Nombre de la tarea" type="text" [(ngModel)]="nombreTarea" id="tarea" >
	<br>
	<input class="form-control" placeholder="Tiempo de la tarea en minutos" type="text" [(ngModel)]="horaTime" id="tiempo" >
	<br>
	<button type="submit" class="btn btn-primary" [disabled]="!nombreTarea && !horaTime" (click)="saveTareas()" >Save</button>
	<br>
	<br>
	<hr>
	<table  class="table table-bordered">
		<thead class="thead-dark">
			<!-- TITULOS -->
			<tr scope="col">	
					<!-- COLUMNAS -->
					<th > <strong>  ITEMS 	</strong> </th>						
					<th > <strong> TAREA  	</strong></th>						
					<th > <strong> TIEMPO 	</strong></th>	
					<th > <strong> ELIMINA	</strong> </th>	
				
			</tr>
		</thead>
		<tbody *ngFor="let tarea of tareas; let indice = index; " [class.tachado] = "tarea.terminada" >
			<!-- TAREAS -->
			<tr>
				<!-- FILAS -->
				
				<!-- ITEMS -->
				<td>
					<input [(ngModel)]="tarea.terminada" (change)="changeStadeTask()" type="checkbox" >
				</td>
				<!-- TAREAS -->
				<td>					
					{{tarea.nombre}}  	
				</td>
				<!-- TIEMPO DE LAS TAREAS -->
				<td >	
						{{tarea.hora}} minutos
					</td>
				<!-- ELIMINAR -->
				<td>
					<a (click)="deleteTarea(indice)" class="enlace-eliminar ">  &times;</a>
				</td>

			</tr>	
			
		</tbody>	
	</table>
	<hr>
	<!-- BOTONES PARA ORDENAR -->
	<button type="button" class="btn btn-success" (click)="ordenarListA()" >Ordenar Ascendente</button>
	<br>
	<br>
	<button type="button" class="btn btn-danger" (click)="ordenarListD()" >Ordenar Descendente</button>
</body>
</div>